ul,
ol {
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.6;
  margin-bottom: 0.2rem;
}

ol li {
  margin-bottom: 0.8rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}