::selection {
  background: rgba($majorella,0.5); /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: rgba($majorella,0.5); /* Gecko Browsers */
  color: $white;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}