/* Typebase.less v0.1.0 | MIT License */


//  Base
//  -----
$display: 'Merriweather', Times, serif;
$body: 'Lato', Helvetica, Arial, sans-serif;
$mono: 'Source Code Pro', Monaco, mono;

html {
  font-family: $body;
  font-size: 107.5%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}



//  Base Copy
p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}



//  Headings
.giga,
.mega,
.kilo,
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  //  Change heading typefaces here
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-family: $mono;
  color: $tuna;
  font-weight: 400;
  line-height: 1.75rem;
}

.mega {
  font-size: 7rem;
  line-height: 8.2rem;
  margin-top: 3rem;
}

.kilo {
  font-size: 5rem;
  line-height: 5.8rem;
  margin-top: 3rem;
}

h1, .alpha {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2, .beta {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3, .gamma {
  font-size: 1.414rem;
}

h4, .delta {
  font-size: 0.707rem;
}

h5, .epsilon {
  font-size: 0.4713333333333333rem;
}

h6, .zeta {
  font-size: 0.3535rem;
}



//  Leading paragraph text
//  ----------------------
.lede,
.lead {
  font-size: 1.414rem;
}

/* Hug the block above you */
//.hug {
//  margin-top: 0;
//}
