//  Colors
//  ------
$black: #2A2B2E;
$white: #FFF;

$grey-1: #F7F9F9;
$grey-2: #D9DBDB;

$aqua: #4EFFEF;
$navy: #2E4889;



//  Custom Easing
//  -------------
$cubic: cubic-bezier(0.215, 0.61, 0.355, 1);