//  Colors
//  ------
$black: #2A2B2E;
$white: #F9F9FF;

$grey-border: #E0E0E5;

$tuna: #30343F;
$majorella: #7246F2;
$turquoise: #00FDDC;
$cool-grey: #8C98AD;


//  Custom Easing
//  -------------
$cubic: cubic-bezier(0.215, 0.61, 0.355, 1);