<footer class="footer">
  <div class="container">
    
    <div class="row">
      <div class="col-4">
        <p>
          Tweet at me<br>
          <a class="link--inline" href="http://twitter.com/tristam3000" title="Holla at ya boy" target="_blank">@tristam3000</a>
        </p>
        
        <p>
          or send a good old-fashioned email<br>
          <a class="link--inline js-mailto-link" href="" title="I think this email thing is gonna take off"></a>
        </p>
      </div>

      <div class="col-4">
        <p>This site's source is available for <span title="mostly my education">educational purposes</span> on GitHub:</p>
        <a class="link--inline" href="http://github.com/tristam3000" title="Source on Github" target="_blank">View Source</a>
      </div>

      <div class="col-4">
        <p>Copyright &copy; 2016 Tristam Goch</p>
      </div>
    </div>
    
  </div>
</footer>