<footer class="footer">
  <div class="container">
    
    <div class="row">
      <div class="four columns">
        <p>Tweet at me or send a good old-fashioned email</p>
        <a class="footer__link inline-link" href="http://twitter.com/tristam3000" target="_blank" title="Twitter">@tristam3000</a>
        <a class="footer__link inline-link js-mailto-link" href="" title="Email"></a>
      </div>

      <div class="four columns">
        <p>This site's source is available for learning purposes on GitHub:</p>
        <a class="footer__link inline-link" href="http://github.com/tristam3000" target="_blank" title="Github">View Source</a>
      </div>

      <div class="four columns">
        <p>Copyright &copy; 2016 Tristam Goch</p>
      </div>
    </div>
    
  </div>
</footer>