<nav class="nav nav--primary" role="navigation">
  <a class="nav__link nav__link--alpha" href="/" title="Tristam Goch">Tristam Goch</a>
  
  <a class="nav__mobile" id="show_nav" title="Show Menu">
    <span class="nav__mobile-icon"></span>
  </a>
  
  <div class="nav__inner">
    <a class="nav__link" title="Writing">Writing</a>
    <a class="nav__link" title="About Me">About</a>
    <span class="u-cf"></span>
  </div>
</nav>