.footer {
  padding: 24px 0 0;
  border-bottom: 3px solid $aqua;
  background-color: mix($grey-1,$grey-2,80%);
  font-size: 0.75rem;
}

.footer__link {
  display: inline-block;
  margin-bottom: 24px;
}
