.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  .mega {
    position: relative;
    top: 80px;
    font-weight: 400;
    color: mix($aqua,$grey-1,50%);
    z-index: -1;
    font-family: $display;
    letter-spacing: 5px;
  }
}