---
title: Tristam Goch
---

<section class="hero">
  <div class="container">
    
    <span class="mega">
      Hi, I'm Tristam
    </span>
    
    <div class="eight columns">
      <h1 class="gamma">I design and build digital products at <a class="inline-link" href="https://damnfine.io" target="_blank" title="Damn Fine - UX, Design & Development">Damn Fine</a>. I like simple solutions to complicated problems.</h1>
    </div>
    
  </div>
</section>